// FONTS
$font_r: "GandhiSansRegular";
$font_b: "GandhiSansBold";

// COLORS
$text-color: #d9d9d9;
$blue_dark: #041833;
$blue_light: #154580;
$blue_mid: #04244f;
$pink: #c98cf1;
$purple: #7b78e5;
$grey_light: #9d9d9d;
$tag-color: rgba(148, 163, 184,0.3);