@import "../../styles/vars";

.populares {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 800px;
  color: $purple;
  font-family: $font_r;
  font-size: 16px;

  h2 {
    margin-top: 5.3rem;
  }

  &__imagens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 77%;
    padding: 0;
    margin-top: 3rem;
    list-style: none;

    img {
      width: 150px;
      height: 100px;
    }
  }

  
}